{include file="$tpl_dir/header.tpl"}
<div class="b-body-bg">
<div class="b-body">
<div class="b-left">	
<div class="l-menu-right">
<ul>
<li><a href="index.html">Главная</a></li>
</ul>
</div>
</div>
<div class="b-content">
<form action="edit.html" method="post">
<input type="hidden" value="{$one_news.id}" name="id">
<label	for="date">Дата</label>
<br/>
{html_select_date time=$one_news.date}
<br/>
<label	for="title">Заглавие</label>
<br/>
<textarea name="title" cols="50" rows="2">{$one_news.title}</textarea>
<br/>
<label	for="content">Содержание</label>
<br/>
<textarea rows="10" cols="80" id="content" name="content">{$one_news.content}</textarea>
<br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
<br/>
</form>
</div>
</div>
</div>
</div>
</div>
{include file="$tpl_dir/footer.tpl"}