.table_subcategory {
    background: #fff;
    border: 1px solid black;
    table-layout: fixed;
    /*width: 100%;*/
}

.table_subcategory .number_colum {
    width: 40px;
    border: 1px solid black;
}

.table_subcategory .name_subcategory {
    width: 150px;
    border: 1px solid black;
}

.table_subcategory td, th {
    border: 1px solid black;
}

.green_text{
    color: #08800b;
}


.green_text_th td{
background-color: green;
}