/* Css Reset 
-----------------------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 1;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
table tr td
{
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.refsect1 code {
	display:block;
	overflow:scroll;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General Styles
-----------------------------------------------------------------------------------*/
label {
	cursor: pointer;
}

a,a:visited {
	color: #00f;
	text-decoration: none;
}

a:focus,a:hover {
	text-decoration: underline;
}

html {
	height: 100%;
}

body {
	background: #fff;
	color: #000;
	font: 62.5% Arial, HelvІetica, sans-serif;
	height: 100%;
}

.l-wrapper {
	background: url('../images/bgr_main.png') repeat-y;
	margin: 0 auto;
	width: 1024px;
	position: relative;
	min-height: 100%;
	min-width: 1024px;
}

* html .l-wrapper {
	height: 100%;
}

.l-container {
	padding-bottom: 57px;
}

/* Header 
-----------------------------------------------------------------------------------*/
.b-header {
	background: #9999CC;
	height: 120px;
	overflow: hidden;
	width: 100%;
}

.b-logo {
	background: url('/images/livephp.png') no-repeat;
	cursor: pointer;
	display: block;
	float: left;
	height: 86px;
	text-indent: -9999em;
	width: 136px;
}

.r-logo {
	cursor: pointer;
	display: block;
	float: right;
	height: 40px;
	width: 136px;
	display: table-cell; 
	vertical-align: middle;	
}

.l-menu {
	float: left;
	padding: 18px 0px 0px 60px;
	font: normal 14px arial;
	width: 890px;
}

.l-menu li {
	display: inline;
}

.l-menu a {
	color: #000099;
	font: normal 12px arial;
}

.l-menu a:hover {
	text-decoration: none;
}

.b-search {
	background: #666699;
	border-top: 1px solid #333366;
	border-bottom: 1px solid #333366;
	padding: 0 6px 0 0;
	text-align: right;
}

.b-search input {
	font-size: 11px;
}

.b-search span {
	color: #fff;
	font: normal 11px arial;
	padding: 0 3px 0 0;
}

.b-search span.underline {
	text-decoration: underline;
	padding: 0;
}

.b-search-submit {
	background: url('../images/small_submit_white.gif') no-repeat;
	border: 0;
	cursor: pointer;
	height: 11px;
	position: relative;
	top: 2px;
	width: 11px;
}

/* Body 
-----------------------------------------------------------------------------------*/
.b-body {
	overflow: hidden;
	width: 100%;
}

.b-left,.b-right {
	float: left;
	font: 12px/16px arial;
	padding: 5px 6px 5px 5px;
	width: 185px;
}

.b-right {
	padding: 5px 5px 5px 8px;
}

.b-content {
	float: left;
	font: 12px/16px arial;
	padding: 10px 15px 10px 14px;
	width: 600px;
}

.b-right-item {
	margin: 0 0 20px 0;
}

.b-right-title1 {
	background-color: #D3D3D3;
	border-color: #000000;
	border-style: solid;
	border-width: 0 1px 1px 0;
	color: #000066;
	font: bold 13px arial;
	margin: 0;
	padding: 2px;
}

.b-right-title2 {
	color: #000066;
	font: bold 13px arial;
	margin: 0;
	padding: 2px;
}

.b-right-box {
	border: 1px dotted #999999;
	margin: 0;
	padding: 2px;
}

.b-right-box p {
	background: #fff;
	padding: 2px;
}

.b-link a {
	font-size: 12px;
	color: #000;
}


/* Array Page 
-----------------------------------------------------------------------------------*/
.b-main-descr-title {
	color: #000066;
	font: bold 18px arial;
	margin: 0 0 10px 0;
}

.b-main-descr {
	font: normal 14px arial;
	margin: 0 0 15px 0;
}

div.refsect1 {
	background-color: #EEEEFF;
	border: 2px solid #CCCCCC;
	border-collapse: collapse;
	margin: 1em;
	padding: 1em;
	font-size: 13px;
}
div.reportbug {
	float: right;
	font-size: 80%;
	position: relative;
	top: -3px;
}

div.reportbug a {
	border-bottom: 1px solid #000099;
	color: #000066;
	font: normal 12px arial;
	text-decoration: none;
}

div.refsect1 h3 {
	border-bottom: 1px dashed #FFFFFF;
	color: #000066;
	font: bold 14px arial;
	margin: 0 0 15px 0;
	padding-top: 0;
}

div.refsect1  .black{
	color: #000;
	font: 12px;
}
div.refsect1  .code{
	background-color: 	#FF8C00;
}

div.refsect1 div.methodsynopsis,div.refsect1 div.constructorsynopsis,div.refsect1 div.destructorsynopsis
	{
	background-color: #FFFFFF;
	border: 1px solid black;
	font: normal 14px arial;
	padding: 0.5em;
}

p.rdfs-comment {
	margin: 15px 0;
	font: normal 14px arial;
}

.l-menu-right li {
	background: url('../images/box-0.gif') no-repeat 0 center;
	margin: 1px 0 1px 1px;
	padding: 1px 0 1px 11px;
}

.l-menu-right li.active {
	background: url('../images/box-1.gif') no-repeat 0 center;
}

.l-menu-right li.active a {
	font-weight: bold;
}

.l-menu-right a {
	color: #000066;
	font: normal 11px arial
}
.multiple {
			float: left;
			background-color: white;
			width:20px; height:20px;
			border:1px solid #ccc;
			margin:5px;
			cursor: pointer;
			font-size: 14pt;
		}
		
		.multiple.hover {
			background-color: #ddd;
		}		

/* Footer 
-----------------------------------------------------------------------------------*/
.b-footer {
	height: 57px;
	margin: -57px auto 0 auto;
	min-width: 1024px;
	overflow: hidden;
	position: relative;
	width: 1024px;
}

.b-footer-top {
	background: #9999CC;
	border-top: 1px solid #333366;
	border-bottom: 1px solid #333366;
	height: 17px;
	overflow: hidden;
}

.b-footer-bottom {
	background: #CCCCCC;
	height: 28px;
	padding: 6px;
}

.l-menu-footer {
	padding: 1px 6px 0 0;
	width: auto;
}

.b-copy {
	float: left;
}

.b-text {
	float: right;
}
