h1 {
    background: #6A5ACD;
    color: white;
    padding: 6px;
}

h2 {
    color: #6A5ACD;
    padding: 8px;
}

.block1 {
    width: 80%;
    background: rgb(181, 228, 172);
    padding: 10px;
    padding-right: 20px;
    border: solid 1px black;
    float: left;
}
.block2 {
    width: 80%;
    background: rgb(181, 228, 172);
    padding: 10px;
    padding-right: 20px;
    border: solid 1px black;
    float: left;
    position: relative;
    top: 40px;

}
.block3 {
    width: 80%;
    background: rgb(181, 228, 172);
    padding: 10px;
    padding-right: 20px;
    border: solid 1px black;
    float: left;
    position: relative;
    top: 80px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {

    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

input {
    padding: 10px;
    padding-right: 20px;


}


.direct_right {
    text-align: right;
}

/*table, th, td {
    border: 1px solid black;
}*/

/*base_table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}*/


