{*{extends file="$tpl_dir/zalud/base.tpl"}*}
{extends file="$tpl_dir/zalud_new_design/base_2.tpl"}


{block name=mainbody}

    {*{debug}*}



        {*<div class="block1" onclick = window.location="/user/addition_service">*}
    {if isset($flag_view_device) && $flag_view_device}
        <div class="block1" >

            <table class="tabl5" align="left" width="80%" height="80px">
                <a></a>
                <thead>

                </thead>

                <tbody>
                <tr><td width="50%">{trans}ZAGmbH Serial Number{/trans}</td> <td width="50%">{trans}User Info{/trans}</td></tr>
                <tr><td width="50%">
                        <h3 align="left"><font size="4" face="DejaVu Serif">{$output_array_device[0].modename}</font></h3>
                    </td>
                    <td width="50%">
                        <h3 align="left">{if !empty($user_array.address)}{$user_array.address}{else}not set{/if}</h3>
                    </td>
                </tr>
                <tr><td width="50%">{trans}Owner{/trans}</td> <td width="50%">Seeshaupt</td></tr>
                <tr><td width="50%">{if !empty($user_array.alies)}{$user_array.alies}{else}not set{/if}</td> <td width="50%">{if !empty($user_array.owner_name)}{$user_array.owner_name}{else}not set{/if}</td></tr>
                </tbody>
            </table>

        </div>
    {/if}



{/block}


