{extends file="$tpl_dir/zalud_new_design/base_2.tpl"}

{block name=mainbody}

    <div class="content">
        <table class="tabl8" align="left" width="100%" height="80px" style="border-spacing: 50px">

            <tr>
                <td width="50px"></td>
                <td align="center"><img class="logoMain" src="/Serega_template_1/images/seting.PNG" ></td>
                <td align="center"><img class="logoMain" src="/Serega_template_1/images/help.PNG" ></td>
                <td align="center"><img class="logoMain" src="/Serega_template_1/images/making.PNG" ></td>
                <td width="50px"></td>
            </tr>

            <tr>
                <td width="50px"></td>
                <td><p align="center" ><font size="5" face="DejaVu Serif">{trans}Support - Tickets{/trans}</font></td>
                <td><p align="center" ><font size="5" face="DejaVu Serif">{trans}Technical Support{/trans}</font></td>
                <td><p align="center" ><font size="5" face="DejaVu Serif">{trans}Download{/trans}</font></td>
                <td width="50px"></td>
            </tr>

        </table>

    </div>






{/block}