{include file="$tpl_dir/header.tpl"}
	<object type="application/x-shockwave-flash" data="http://posterator.net/img/uflvplayer_500x375.swf" height="576" width="1024"><param name="bgcolor" value="#FFFFFF" /><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="movie" value="http://posterator.net/img/uflvplayer_500x375.swf" /><param name="FlashVars" value="way=http://posterator.net/img/posterator.flv&amp;swf=http://posterator.net/img/uflvplayer_500x375.swf&amp;w=1024&amp;h=576&amp;pic=http://&amp;autoplay=0&amp;tools=2&amp;skin=white&amp;volume=0&amp;q=&amp;comment=Кросспостинг отправка на http://posterator.net" /></object>
	{literal}
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'posterator'; // required: replace example with your forum shortname

		// The following are highly recommended additional parameters. Remove the slashes in front to use.
		var disqus_identifier = 'review';
		var disqus_url = 'http://posterator.net/review';

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>	
	{/literal}	
{include file="$tpl_dir/footer.tpl"}
