<form id="execute" action="{$function}.html" method="post">
<label for="string">$string Пример: Is your name O'reilly?</label><br/>
<textarea rows="10" cols="50" name="string" id="string">{if isset($string)&& $string}{$string}{/if}</textarea><br/><br/>
<input type="submit" name="submit" class="button" id="run" value="выполнить" onclick="return execute(3)"/>
</form>
