<form id="execute" action="{$function}.html" method="post">
<label for="input">array $array Пример:<font id="example">(a,b,c,d,e)</font></label>
<br>
<textarea id="input" name="input" cols="50" rows="10">{if isset($input)&& $input}{$input}{/if}</textarea><br><br>
<br>
<label for="offset">$offset Пример:<font id="example2">-2</font></label><br>
<input type="text" value="{if isset($offset)&& $offset}{$offset}{/if}" id="offset" name="offset"><br>
<br>
<label for="length">$length Пример:<font id="example3">1</font></label><br>
<input type="text" value="{if isset($length)&& $length}{$length}{/if}" id="length" name="length"><br>
<br>
<label for="preserve_keys">$preserve_keys Пример: <font id="example4">TRUE</font></label><br>
<select name="preserve_keys" id="preserve_keys">
	<option value="TRUE"{if $preserve_keys=="TRUE" }selected{/if}>TRUE</option>
	<option value="FALSE" {if $preserve_keys=="FALSE"}selected{/if}{if !$preserve_keys}selected{/if}>FALSE</option>
</select>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>


