<form id="execute" action="{$function}.html" method="post">
<label for="input">array $input Пример:<font id="example">(red,green,blue,yellow)</font></label>
<br>
<textarea id="input" name="input" cols="50" rows="10">{if isset($input)&& $input}{$input}{/if}</textarea><br><br>
<br>
<label for="offset">$offset Пример:<font id="example2">1</font></label><br>
<input type="text" value="{if isset($offset)&& $offset}{$offset}{/if}" id="offset" name="offset"><br>
<br>
<label for="length">$length Пример:<font id="example3">-1</font></label><br>
<input type="text" value="{if isset($length)&& $length}{$length}{/if}" id="length" name="length"><br>
<br>
<label for="replacement">mixed $replacement Пример: <font id="example4">(black,maroon)</font></label><br>
<input type="text" value="{if isset($replacement)&& $replacement}{$replacement}{/if}" id="replacement" name="replacement"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>


