<form id="execute" action="{$function}.html" method="post">
<label for="array_1">array $array_1 Пример:<font id="example">(a=>green,red,blue,red)</font></label>
<br>
<textarea id="array_1" name="array_1" cols="50" rows="10">{if isset($array_1)&& $array_1}{$array_1}{/if}</textarea><br><br>
<br>
<label for="array_2">array $array_2 Пример:<font id="example">(b=>green,yellow,red)</font></label>
<br>
<textarea id="array_2" name="array_2" cols="50" rows="10">{if isset($array_2)&& $array_2}{$array_2}{/if}</textarea><br><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>


