<form id="execute" action="{$function}.html" method="post">
<label	for="input">array $input Пример: (size=>XL,color=>gold)</label>
<br>
<textarea id="input" name="input" cols="50" rows="10">{if isset($input)&& $input}{$input}{/if}</textarea><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
