<form id="execute" action="{$function}.html" method="post">
<br>
<label for="arg">$arg Пример:1.03</label><br>
<input type="text" value="{$arg}" id="arg" name="arg"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
