<form id="execute" action="{$function}.html" method="post">
<label for="data">$data Пример: SGVsbG8h </label><br/>
<textarea rows="10" cols="50" name="data" id="data">{if isset($data)&& $data}{$data}{/if}</textarea><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
