<form id="execute" action="{$function}.html" method="post">
<br>
<label for="number">$number Пример: A37334</label><br>
<input type="text" value="{if isset($number)&& $number}{$number}{/if}" id="number" name="number"><br>
<br>
<label for="frombase">$frombase Пример: 16</label><br>
<input type="text" value="{if isset($frombase)&& $frombase}{$frombase}{/if}" id="frombase" name="frombase"><br>
<br>
<label for="tobase">$tobase Пример: 8</label><br>
<input type="text" value="{if isset($tobase)&& $tobase}{$tobase}{/if}" id="tobase" name="tobase"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
