<form id="execute" action="{$function}.html" method="post">
<br>
<label for="binaryString">$binaryString Пример: 1101</label><br>
<input type="text" value="{if isset($binaryString)&& $binaryString}{$binaryString}{/if}" id="binaryString" name="binaryString"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
