<form id="execute" action="{$function}.html" method="post">
<label for="ascii">$ascii Пример: 90</label><br/>
<textarea rows="10" cols="50" name="ascii" id="ascii">{$ascii}</textarea><br/><br/>
<input type="submit" name="submit" class="button" id="run" value="выполнить" onclick="return execute(3)"/>
</form>
