<form id="execute" action="{$function}.html" method="post">
<label for="body">$body Пример: TEXT, a Swedish band formed by 3/4 ex-Refused Members</label><br/>
<textarea rows="10" cols="50" name="body" id="body">{if isset($body)&& $body}{$body}{/if}</textarea><br/><br/>
<label for="chunklen">$chunklen Пример: 6</label><br/>
<input type="text" name="chunklen" id="chunklen" value="{if isset($chunklen)&& $chunklen}{$chunklen}{/if}"/><br/><br/>
<label for="end">$end Пример: *</label><br/>
<input type="text" name="end" id="end" value="{if isset($end)&& $end}{$end}{/if}"/><br/><br/>
<input type="submit" name="submit" class="button" id="run" value="выполнить" onclick="return execute(85)"/>
</form>
