<form id="execute" action="{$function}.html" method="post">
<label	for="data">$data Пример: test\ntext text\r\n</label>
<br>
<textarea id="data" name="data" cols="50" rows="10">{if isset($data)&& $data}{$data}{/if}</textarea>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
