<form id="execute" action="{$function}.html" method="post">
<label	for="var">$var Пример: (fruits=>array(orange,banana,apple),veggie=>array(carrot,collard,pea))</label>
<br><textarea rows="10" cols="50" name="var" id="var">{if isset($var)&& $var}{$var}{/if}</textarea><br>
<br>
<label for="mode">$mode Пример: 1</label><br>
<input type="text" value="{if isset($mode)&& $mode}{$mode}{/if}" id="mode" name="mode"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
