<form id="execute" action="{$function}.html" method="post">
<label for="string">$string Пример: Две в и одна с</label><br/>
<textarea rows="10" cols="50" name="string" id="string">{if isset($string)&& $string}{$string}{/if}</textarea><br/><br/>
<label for="mode">$mode Пример: 0</label><br/>
<input type="text" name="mode" id="mode" value="{if isset($mode)&& $mode}{$mode}{/if}"/><br/><br/>
<input type="submit" name="submit" class="button" id="run" value="выполнить" />
</form>
