<form id="execute" action="{$function}.html" method="post">
<label	for="string">$string Пример: Hello.</label>
<br>
<textarea id="string" name="string" cols="50" rows="10">{if isset($string)&& $string}{$string}{/if}</textarea>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
