<form id="execute" action="{$function}.html" method="post">
<label for="string">$string Пример: Hello.</label>
<br>
<input type="text" value="{if isset($string)&& $string}{$string}{/if}" id="string" name="string"><br>
<br>
<label for="salt">$salt Пример: w</label><br>
<input type="text" value="{if isset($salt)&& $salt}{$salt}{/if}" id="salt" name="salt"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
