<form id="execute" action="{$function}.html" method="post">
<label for="format">$format</label><br>
<input type="text" value="{if $format}{if isset($format)&& $format}{$format}{/if}{else}d.m.Y H:i:s{/if}" id="format" name="format"><br>
<br>
<label for="replacement">$timestamp</label><br>
<input type="text" value="{if isset($timestamp)&& $timestamp}{$timestamp}{/if}" id="timestamp" name="timestamp"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
