<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>PHP <програ></програ>ммирование - тестирование функций онлайн. php строки, php функции, php справочник - все это php сайт</title>
    <link rel="stylesheet" media="screen" href="/css/common.css" type="text/css"/>
</head>
<body>
<p> Output termostat ecozy </p>
<p> {$message}</p>
<ul>
     {foreach from=$array_macs item=one_mac}
         <li>{$one_mac['mac']}</li>
     {/foreach}

</ul>



</body>
</html>
