<form id="execute" action="{$function}.html" method="post">
<label for="delimiter">$delimiter Пример:,</label><br/>
<input type="text" name="delimiter" id="delimiter" value="{if isset($delimiter)&& $delimiter}{$delimiter}{/if}"/><br/><br/>
<label for="string">$string Пример: piece1,piece2,piece3,piece4,piece5,piece6</label><br/>
<textarea rows="10" cols="50" name="string" id="string">{if isset($string)&& $string}{$string}{/if}</textarea><br/><br/>
<label for="limit">$limit Пример:</label><br/>
<input type="text" name="limit" id="limit" value="{if isset($limit)&& $limit}{$limit}{/if}"/><br/><br/>
<input type="submit" name="submit" class="button" id="run" value="выполнить" onclick="return execute(47)"/>
</form>
