<form id="execute" action="{$function}.html" method="post">
<br>
<label for="hexString">$hexString Пример: ffaaf34</label><br>
<input type="text" value="{if isset($hexString)&& $hexString}{$hexString}{/if}" id="hexString" name="hexString"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
