{include file="$tpl_dir/header.tpl"}
<div class="b-body-bg">
<div class="b-body">
<div class="b-left">	
<div class="l-menu-right">
</div>
</div>
<div class="b-content">
<div class="refsect1 description">
Привет в админке!!!
<br/>
<form  method='POST' action='home.html'>
<input type="hidden" name="logout" id="logout" value="logout" class="input">
<input type="submit" VALUE="Выйти" class="submit">
</form>
</div>
</div>
</div>
</div>
</div>
</div>
{include file="$tpl_dir/footer.tpl"}