<form id="execute" action="{$function}.html" method="post">
<label for="formdata">$formdata Пример: (foo=>bar,baz=>boom,cow=>milk,php=>hypertext processor)</label><br/>
<textarea rows="10" cols="50" name="formdata" id="formdata">{if isset($formdata)&& $formdata}{$formdata}{/if}</textarea><br/><br/>
<label for="numeric_prefix">$numeric_prefix Пример: myvar_</label><br/>
<input type="text" name="numeric_prefix" id="numeric_prefix" value="{if isset($numeric_prefix)&& $numeric_prefix}{$numeric_prefix}{/if}"/><br/><br/>
<label for="arg_separator">$arg_separator</label><br/>
<input type="text" name="arg_separator" id="arg_separator" value="{if isset($arg_separator)&& $arg_separator}{$arg_separator}{/if}"/><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
