<form id="execute" action="{$function}.html" method="post">
<br>
<label for="y">$y Пример:1.03</label><br>
<input type="text" value="{if isset($y)&& $y}{$y}{/if}" id="y" name="y"><br>
<br>
<label for="x">$x Пример:1.03</label><br>
<input type="text" value="{if isset($x)&& $x}{$x}{/if}" id="x" name="x"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
