<form id="execute" action="{$function}.html" method="post">
<label for="format">$format Пример: y</label><br>
<input type="text" value="{if isset($format)&& $format}{$format}{/if}" id="format" name="format"><br>
<br>
<label for="timestamp">$timestamp Пример: 1072915200</label><br>
<input type="text" value="{if isset($timestamp)&& $timestamp}{$timestamp}{/if}" id="timestamp" name="timestamp"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
