<form id="execute" action="{$function}.html" method="post">
<label for="glue">$glue Пример:, </label><br/>
<input type="text" name="glue" id="glue" value="{if isset($glue)&& $glue}{$glue}{/if}"/><br/><br/>
<label for="pieces">$pieces Пример: (lastname,email,phone)</label><br/>
<textarea rows="10" cols="50" name="pieces" id="pieces">{if isset($pieces)&& $pieces}{$pieces}{/if}</textarea><br/><br/>
<input type="submit" name="submit" class="button" id="run" value="выполнить" />
</form>
