<form id="execute" action="{$function}.html" method="post">
<label	for="needle">$needle Пример: Irix</label><br>
<input type="text" value="{if isset($needle)&& $needle}{$needle}{/if}" id="needle" name="needle"><br>
<br>
<label for="haystack">$haystack Пример: (Mac,NT,Irix,Linux)</label><br>
<textarea id="haystack" name="haystack" cols="50" rows="10">{if isset($haystack)&& $haystack}{$haystack}{/if}</textarea><br>
<br>
<label for="strict">$strict</label><br>
<input type="checkbox" id="strict" name="strict" value="true" class="check" {if $strict}checked{/if}><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
