<form id="execute" action="{$function}.html" method="post">
<label for="var">$var Пример: 1011</label><br>
<input type="text" value="{if isset($var)&& $var}{$var}{/if}" id="var" name="var"><br>
<br>
<label	for="base">$base Пример: 2</label>
<br>
<input  type="text"  value="{if isset($base)&& $base}{$base}{/if}" id="base" name="base"><br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
