<form id="execute" action="{$function}.html" method="post">
<br>
<label for="value">$value Пример: 34</label><br>
<input type="text" value="{if isset($value)&& $value}{$value}{/if}" id="value" name="value"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
