<form id="execute" action="{$function}.html" method="post">
<label for="jday">$jday Пример: 2440621</label><br>
<input type="text" value="{if isset($jday)&& $jday}{$jday}{/if}" id="jday" name="jday"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
