<form id="execute" action="{$function}.html" method="post">
<label for="month">$month Пример: 2</label><br>
<input type="text" value="{if isset($month)&& $month}{$month}{/if}" id="month" name="month"><br>
<br>
<label for="day">$day Пример: 4</label><br>
<input type="text" value="{if isset($day)&& $day}{$day}{/if}" id="day" name="day"><br>
<br>
<label for="year">$year Пример: 8</label><br>
<input type="text" value="{if isset($year)&& $year}{$year}{/if}" id="year" name="year"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
