<form id="execute" action="{$function}.html" method="post">
<br>
<label for="value">$value Пример: (a=>1,b=>2,c=>3,d=>4,e=>5)</label><br>
<textarea id="value" name="value" cols="50" rows="10">{if isset($value)&& $value}{$value}{/if}</textarea><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
