<form id="execute" action="{$function}.html" method="post">
<br>
<label for="json">$json Пример:{literal}{"a":"1","b":"2","c":"3","d":"4","e":"5"}{/literal}</label><br>
<textarea id="json" name="json" cols="50" rows="10">{if isset($json)&& $json}{$json}{/if}</textarea><br>
<br>
<label for="assoc">$assoc</label><br>
<input type="checkbox" id="assoc" name="assoc" value="true" class="check"{if $assoc}checked{/if}><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">

</form>
