<form id="execute" action="{$function}.html" method="post">
<label	for="array">$array Пример: (d=>lemon,a=>orange,b=>banana,c=>apple)</label>
<br>
<textarea rows="10" cols="50" name="array" id="array">{if isset($array)&& $array}{$array}{/if}</textarea><br/><br/><br>
<br>
$sort_flags
<br>
<select name="sort_flags">
<option value=""></option>
<option value="SORT_REGULAR" {if $sort_flags=="SORT_REGULAR"}selected{/if}>SORT_REGULAR</option>
<option value="SORT_NUMERIC" {if $sort_flags=="SORT_NUMERIC"}selected{/if}>SORT_NUMERIC</option>
<option value="SORT_STRING" {if $sort_flags=="SORT_STRING"}selected{/if}>SORT_STRING</option>
<option value="SORT_LOCALE_STRING" {if $sort_flags=="SORT_LOCALE_STRING"}selected{/if}>SORT_LOCALE_STRING</option>
</select>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
