<form id="execute" action="{$function}.html" method="post">
<label for="string1">$string1 Пример: carrrot</label><br/>
<input type="text" name="string1" id="string1" value="{if isset($string1)&& $string1}{$string1}{/if}"/><br/><br/>
<label for="string2">$string2 Пример: carrot</label><br/>
<input type="text" name="string2" id="string2" value="{if isset($string2)&& $string2}{$string2}{/if}"/><br/><br/>
<label for="cost_ins">$cost_ins</label><br/>
<input type="text" name="cost_ins" id="cost_ins" value="{if isset($cost_ins)&& $cost_ins}{$cost_ins}{/if}"/><br/><br/>
<label for="cost_rep">$cost_rep</label><br/>
<input type="text" name="cost_rep" id="cost_rep" value="{if isset($cost_rep)&& $cost_rep}{$cost_rep}{/if}"/><br/><br/>
<label for="cost_del">$cost_del</label><br/>
<input type="text" name="cost_del" id="cost_del" value="{if isset($cost_del)&& $cost_del}{$cost_del}{/if}"/><br/><br/>
<input type="submit" name="submit" class="button" id="run" value="выполнить" />
</form>
