<form id="execute" action="{$function}.html" method="post">
<br>
<label for="arg">$arg Пример: 0.39</label><br>
<input type="text" value="{if isset($arg)&& $arg}{$arg}{/if}" id="arg" name="arg"><br>
<br>
<br>
<label for="base">$base</label><br>
<input type="text" value="{if isset($base)&& $base}{$base}{/if}" id="base" name="base"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
