<form id="execute" action="{$function}.html" method="post">
<br>
<label for="number">$number Пример: 0.39</label><br>
<input type="text" value="{if isset($number)&& $number}{$number}{/if}" id="number" name="number"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
