<form id="execute" action="{$function}.html" method="post">
<label for="string">$string  Пример: Hello</label><br>
<input type="text" value="{if isset($string)&& $string}{$string}{/if}" id="string" name="string"><br>
<br>
<label for="raw_output">$raw_output</label><br>
<input type="checkbox" id="raw_output" name="raw_output" value="true" class="check" {if $raw_output}checked{/if}><br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
