<form id="execute" action="{$function}.html" method="post">
<br>
<label for="values">$values Пример: (3,6,9,12,345)</label><br>
<textarea id="values" name="values" cols="50" rows="10">{if isset($values)&& $values}{$values}{/if}</textarea><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
