<form id="execute" action="{$function}.html" method="post">
<label for="hour">$hour Пример: 23</label><br>
<input type="text" value="{if isset($hour)&& $hour}{$hour}{/if}" id="hour" name="hour"><br>
<br>
<label for="minute">$minute Пример: 49</label><br>
<input type="text" value="{if isset($minute)&& $minute}{$minute}{/if}" id="minute" name="minute"><br>
<br>
<label for="second">$second Пример: 34</label><br>
<input type="text" value="{if isset($second)&& $second}{$second}{/if}" id="second" name="second"><br>
<br>
<label for="month">$month Пример: 11</label><br>
<input type="text" value="{if isset($month)&& $month}{$month}{/if}" id="month" name="month"><br>
<br>
<label for="day">$day Пример: 23</label><br>
<input type="text" value="{if isset($day)&& $day}{$day}{/if}" id="day" name="day"><br>
<br>
<label for="year">$year Пример: 1993</label><br>
<input type="text" value="{if isset($year)&& $year}{$year}{/if}" id="year" name="year"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
