<form id="execute" action="{$function}.html" method="post">
<br>
<label for="min">$min Пример: 3</label><br>
<input type="text" value="{if isset($min)&& $min}{$min}{/if}" id="min" name="min"><br>
<br>
<br>
<label for="max">$max Пример: 592</label><br>
<input type="text" value="{if isset($max)&& $max}{$max}{/if}" id="max" name="max"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
