<form id="execute" action="{$function}.html" method="post">
<label	for="array">$array Пример: (IMG0.png,img12.png,img10.png,img2.png,img1.png,IMG3.png)</</label>
<br>
<textarea id="array" name="array" cols="50" rows="10">{if isset($array)&& $array}{$array}{/if}</textarea><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
