{include file="$tpl_dir/header.tpl"}
<div class="b-body-bg">
<div class="b-body">
<div class="b-left">	
<div class="l-menu-right">
<ul class="b-menu">
{foreach item=output from=$output_first}
{if $output.category!='feedback'}
<li>{$output.category}</li>
{foreach item=method from=$output.methods}
<li><a href="/{$method.name}.html">{$method.name}</a></li>
{/foreach}
{/if}
{/foreach}
</ul>
</div>
</div>
<div class="b-content">
<h1 class="b-main-descr-title">примеры онлайн</h1>
<div class="refsect1 description">
{foreach from=$list_news item=item }
<h3 class="title"><a href="/shownews.html?id={$item.id}" class="title" style="color:#000066">{$item.title} ({$item.date})</a></h3>
{$item.content}
{*{$item.content|truncate:500:''}
{if strlen($item.content)>500}
<a href="/shownews.html?id={$item.id}"> подробнее...</a>
{else}
<a href="/shownews.html?id={$item.id}"> перейти к комментариям...</a>
{/if}*}
<br/>
<br/>
<br/>
<br/>
{/foreach}
{$pagination}
</div>
</div>
{include file="$tpl_dir/rightpartofbody.tpl"}
</div>
</div>
</div>
</div>
{include file="$tpl_dir/footer.tpl"}
