<form id="execute" action="{$function}.html" method="post">
<br>
<label for="octalString">$octalString Пример: 764563</label><br>
<input type="text" value="{if isset($octalString)&& $octalString}{$octalString}{/if}" id="octalString" name="octalString"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
