<form id="execute" action="{$function}.html" method="post">
<label for="url">$url Пример: http://username:password@hostname/path?arg=value#anchor</label><br/>
<input type="text" name="url" id="url" value="{if isset($url)&& $url}{$url}{/if}"/><br/><br/>
<label for="component">$component</label><br/>
<select name="component" id="component">
<option value=""{if $component==''}selected{/if}></option>
<option value="PHP_URL_SCHEME"{if $component=='PHP_URL_SCHEME'}selected{/if}>PHP_URL_SCHEME</option>
<option value="PHP_URL_HOST"{if $component=='PHP_URL_HOST'}selected{/if}>PHP_URL_HOST</option>
<option value="PHP_URL_PORT"{if $component=='PHP_URL_PORT'}selected{/if}>PHP_URL_PORT</option>
<option value="PHP_URL_USER"{if $component=='PHP_URL_USER'}selected{/if}>PHP_URL_USER</option>
<option value="PHP_URL_PASS"{if $component=='PHP_URL_PASS'}selected{/if}>PHP_URL_PASS</option>
<option value="PHP_URL_PATH"{if $component=='PHP_URL_PATH'}selected{/if}>PHP_URL_PATH</option>
<option value="PHP_URL_QUERY"{if $component=='PHP_URL_QUERY'}selected{/if}>PHP_URL_QUERY</option>
<option value="PHP_URL_FRAGMENT"{if $component=='PHP_URL_FRAGMENT'}selected{/if}>PHP_URL_FRAGMENT</option>
</select><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
