<form id="execute" action="{$function}.html" method="post">
<label for="string">$string Пример: first=value&amp;arr[]=foo+bar&amp;arr[]=baz</label><br/>
<input type="text" name="string" id="string" value="{if isset($string)&& $string}{$string}{/if}"/><br/><br/>
<input type="submit" name="submit" class="button" id="run" value="выполнить" />
</form>
