{include file="$tpl_dir/header.tpl"}
<div class="b-body-bg">
<div class="b-body">
<div class="b-left">	
<div class="l-menu-right">
</div>
</div>
<div class="b-content">
<div class="refsect1 description">
<table align="center" border="0" cellpadding="0" cellspacing="0" width="">
  <tr>
    <td>
      <table align="center" border="0" cellpadding="4" cellspacing="4">
        <tr>
          <td width="100" nowrap>Логин:&nbsp;</td>
          <form  method='POST' action='plan9.html'>
          <td>
            <input type="text" name='username' id='username' size="30" class="input"></td>
        </tr>
        <tr>
          <td width="100" nowrap>
            Пароль:&nbsp;</td>
          <td>
            <input type="password" name='password' id='password' size="30" class="input"></td>

        </tr>
        <tr>
          <td colspan='2' align='center'>
            <input type="submit" VALUE="Войти" class="submit"></td>
        </tr>
          </form>
        </tr>
      </table>
    </td>

  
</table>
</div>
</div>
</div>
</div>
</div>
</div>
{include file="$tpl_dir/footer.tpl"}