<form id="execute" action="{$function}.html" method="post">
<br>
<label for="base">$base Пример: 2</label><br>
<input type="text" value="{if isset($base)&& $base}{$base}{/if}" id="base" name="base"><br>
<br>
<br>
<label for="exp">$exp Пример: 5.5</label><br>
<input type="text" value="{if isset($exp)&& $exp}{$exp}{/if}" id="exp" name="exp"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
