<form id="execute" action="{$function}.html" method="post">
<label for="string">$string Пример: $40 for a g3/400</label><br/>
<textarea rows="10" cols="50" name="string" id="string">{if isset($string)&& $string}{$string}{/if}</textarea><br/><br/>
<label for="delimiter">$delimiter Пример: /</label><br/>
<input type="text" name="delimiter" id="delimiter" value="{if isset($delimiter)&& $delimiter}{$delimiter}{/if}"/><br/><br/>
<input type="submit" name="submit" class="button" id="run" value="выполнить" />
</form>