<form id="execute" action="{$function}.html" method="post">
<label for="low">$low Пример: 0</label>
<br>
<input type="text" value="{if isset($low)&& $low}{$low}{/if}" id="low" name="low"><br>
<br>
<label for="high">$high Пример: 12</label><br>
<input type="text" value="{if isset($high)&& $high}{$high}{/if}" id="high" name="high"><br>
<br>
<label for="step">$step Пример: 2</label><br>
<input type="text" value="{if isset($step)&& $step}{$step}{/if}" id="step" name="step"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
