<div class="b-right">
<div class="b-right-item">
{literal}
<!-- Place this tag where you want the +1 button to render -->
<g:plusone size="small"></g:plusone>

<!-- Place this tag after the last plusone tag -->
<script type="text/javascript">
  window.___gcfg = {lang: 'ru'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<br/>
		<!-- Google --> <a title="Добавить закладку в Google"
		onclick="window.open('http://www.google.com/bookmarks/mark?op=add&;amp;hl=ru&amp;bkmk='+encodeURIComponent(location.href)+'&amp;annotation='+encodeURIComponent(document.title)+'&amp;labels=webnotes&amp;title='+encodeURIComponent(document.title));return false;"
		rel="nofollow" href="http://www.google.com/"><img width="20"
		height="20" alt="Добавить закладку в Google" src="/images/google.gif"
		border="0" /></a> 
		<a title="Поделиться ВКонтакте" rel="nofollow" href="http://vkontakte.ru/" onclick="window.open('http://vkontakte.ru/share.php?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title)+'&description='+encodeURIComponent(document.description));return false;">
		<img width="20" height="20" alt="Поделиться ВКонтакте" src="/images/vvk.gif" border="0"/></a> 
		<!-- Facebook -->
	<a title="Поделиться в Facebook"
		onclick="window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href));return false;"
		rel="nofollow" href="http://www.facebook.com/"><img width="20"
		height="20" alt="Поделиться в Facebook" src="/images/fac.gif" border="0"></a> <!-- Мой Мир -->
	<a title="Поделиться В Моем Мире"
		onclick="window.open('http://connect.mail.ru/share?share_url='+encodeURIComponent(location.href));return false;"
		rel="nofollow" href="http://connect.mail.ru/"> <img width="20"
		height="20" alt="Поделиться В Моем Мире" src="/images/mm.gif" border="0"></a> <!-- Twitter -->
	<a title="Опубликовать в Twitter" rel="nofollow"
		href="http://twitter.com/"
		onclick="window.open('http://twitter.com/share?url=http://www.livephp.net/');return false;">
	<img width="20" height="20" alt="Опубликовать в Twitter"
		src="/images/tw.gif" border="0"></a> <!-- livejournal --> 
		<a
		title="Опубликовать в своем блоге livejournal.com" rel="nofollow"
		href="http://www.livejournal.com/"
		onclick="window.open('http://www.livejournal.com/update.bml?event='+encodeURIComponent(location.href)+'&amp;subject='+encodeURIComponent(document.title));return false;"><img
		width="20" height="20" src="/images/lg.gif" border="0"></a>
		 <!-- Yahoo --> <a title="Добавить закладку в Yahoo" rel="nofollow"
		href="http://www.yahoo.com/"
		onclick="window.open('http://myweb2.search.yahoo.com/myresults/bookmarklet?t=PHP programming - testing of functions online. php lines, php functions, php a directory - all it php a site&u='+encodeURIComponent(location.href)+'&d=PHP programming - testing of functions online. php lines, php functions, php a directory - all it php a site');return false;">
		<img width="20" height="20" alt="Добавить закладку в Yahoo"
		src="/images/yahoo.gif" border="0"></a>
		 <a rel="nofollow"
		href="http://www.bobrdobr.ru/"
		onclick="window.open('http://www.bobrdobr.ru/addext.html?url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title)+'&desc='+encodeURIComponent(document.title)+'&tags={soc_tags_c}');return false;"
		title="Добавить закладку в Бобрдобр"><img width="20" height="20"
		alt="Добавить закладку в Бобрдобр" src="/images/bobrdobr.gif"
		border="0" /></a>
{/literal}
<h3>Популярные</h3>
<ul>
{foreach from=$name_frequent_use_methods item=name_frequent_use_method}
	<li>
	<a href="/{$name_frequent_use_method.name}.html">{$name_frequent_use_method.name}</a>
	</li>
	{/foreach}
</ul>
<br/>
<br/>
<h3>Случайные</h3>
<ul>
{foreach from=$random_methods item=random_method}
	<li>
	<a href="/{$random_method.name}.html">{$random_method.name}</a>
	</li>
	{/foreach}
</ul>
</div>
</div>
