<form id="execute" action="{$function}.html" method="post">
<br>
<label for="val">$val Пример: 1.9234</label><br>
<input type="text" value="{if isset($val)&& $val}{$val}{/if}" id="val" name="val"><br>
<br>
<br>
<label for="precision">$precision Пример: 2</label><br>
<input type="text" value="{if isset($precision)&& $precision}{$precision}{/if}" id="precision" name="precision"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
