<form id="execute" action="{$function}.html" method="post">
<label for="first">$first Пример: Hello world!</label><br/>
<input type="text" name="first" id="first" value="{if isset($first)&& $first}{$first}{/if}"/><br/><br/>
<label for="second">$second Пример: Hello!</label><br/>
<input type="text" name="second" id="second" value="{if isset($second)&& $second}{$second}{/if}"/><br/><br/>
<input type="submit" name="submit" class="button" id="run" value="выполнить" />
</form>
