<form id="execute" action="{$function}.html" method="post">
<label for="string">$string Пример: Hilbert</label><br/>
<input type="text" name="string" id="string" value=""/><br/><br/>
<input type="submit" name="submit" class="button" id="run" value="выполнить" />
</form>
