<form id="execute" action="{$function}.html" method="post">
<label for="searc">$search Пример: (fruits,vegetables,fiber)</label><br/>
<input type="text" name="search" id="searc" value="{if isset($search)&& $search}{$search}{/if}"/><br/><br/>
<label for="replace">$replace Пример:(pizza,beer,ice cream) </label><br/>
<input type="text" name="replace" id="replace" value="{if isset($replace)&& $replace}{$replace}{/if}"/><br/><br/>
<label for="subject">$subject Пример: (You should eat fruits, vegetables, and fiber every day.)</label><br/>
<textarea rows="10" cols="50" name="subject" id="subject">{if isset($subject)&& $subject}{$subject}{/if}</textarea><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
