<form id="execute" action="{$function}.html" method="post">
<label for="haystack">$haystack Пример: Мама мыла раму.</label><br/>
<textarea rows="10" cols="50" name="haystack" id="haystack"></textarea><br/><br/>
<label for="needle">$needle Пример: мыла</label><br/>
<input type="text" name="needle" id="needle" value=""/><br/><br/>
<label for="offset">$offset</label><br/>
<input type="text" name="offset" id="offset" value=""/><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
