<form id="execute" action="{$function}.html" method="post">
<label for="haystack">$haystack Пример: USER@EXAMPLE.com</label><br/>
<textarea rows="10" cols="50" name="haystack" id="haystack">{if isset($haystack)&& $haystack}{$haystack}{/if}</textarea><br/><br/>
<label for="needle">$needle Пример: E</label><br/>
<input type="text" name="needle" id="needle" value="{if isset($needle)&& $needle}{$needle}{/if}"/><br/><br/>
<!--<label for="before_needle">$before_needle</label><br/>
<input type="checkbox" class="check" value="true" name="before_needle" id="before_needle"{if $before_needle}checked{/if}/><br/><br/>
--><input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
