<form id="execute" action="{$function}.html" method="post">
<label for="string">$string Пример: {literal}&lt;p&gt;Параграф.&lt;/p&gt; &lt;!-- Comment --&gt; Еще немного текста {/literal}</label><br/>
<textarea rows="10" cols="50" name="string" id="string">{if isset($string)&& $string}{$string}{/if}</textarea><br/><br/>
<label for="allowable_tags">$allowable_tags Пример: {literal}&lt;p&gt; {/literal}</label><br/>
<input type="text" name="allowable_tags" id="allowable_tags" value="{if isset($allowable_tags)&& $allowable_tags}{$allowable_tags}{/if}"/><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
