<form id="execute" action="{$function}.html" method="post">
<label for="string1">$string1 Пример: AAAA</label><br/>
<textarea rows="10" cols="50" name="string1" id="string1">{if isset($string1)&& $string1}{$string1}{/if}</textarea><br/><br/>
<label for="string2">$string2 Пример: aaaa</label><br/>
<textarea rows="10" cols="50" name="string2" id="string2">{if isset($string2)&& $string2}{$string2}{/if}</textarea><br/><br/>
<label for="len">$len Пример: 0</label><br/>
<input type="text" name="len" id="len" value="{if isset($len)&& $len}{$len}{/if}"/><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
