<form id="execute" action="{$function}.html" method="post">
<label for="date">$date Пример: 29.Январь 2011 09:06:02</label><br>
<input type="text" value="{if isset($date)&& $date}{$date}{/if}" id="date" name="date"><br>
<br>
<label for="format">$format Пример: %d.%B %Y %H:%M:%S </label><br>
<input type="text" value="{if isset($format)&& $format}{$format}{/if}" id="format" name="format"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
