<form id="execute" action="{$function}.html" method="post">
<label for="time">$time Пример: 10 September 2000</label><br>
<input type="text" value="{if isset($time)&& $time}{$time}{/if}" id="time" name="time"><br>
<br>
<label for="now">$now</label><br>
<input type="text" value="{if isset($now)&& $now}{$now}{/if}" id="now" name="now"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
