<form id="execute" action="{$function}.html" method="post">
<label for="string">$string Пример: Hello Mary.</label><br/>
<textarea rows="10" cols="50" name="string" id="string">{if isset($string)&& $string}{$string}{/if}</textarea><br/><br/>
<label for="from">$from Mary</label><br/>
<input type="text" name="from" id="from" value="{if isset($from)&& $from}{$from}{/if}"/><br/><br/>
<label for="to">$to Den</label><br/>
<input type="text" name="to" id="to" value="{if isset($to)&& $to}{$to}{/if}"/><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
