<form id="execute" action="{$function}.html" method="post">
<br>
<label for="var">$var Пример: 2011</label><br>
<textarea id="var" name="var" cols="50" rows="10">{if isset($var)&& $var}{$var}{/if}</textarea><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
