<form id="execute" action="{$function}.html" method="post">
<label for="string">$string Пример: abcdef</label><br/>
<textarea rows="10" cols="50" name="string" id="string">{if isset($string)&& $string}{$string}{/if}</textarea><br/><br/>
<label for="start">$start Пример: 1</label><br/>
<input type="text" name="start" id="start" value="{if isset($start)&& $start}{$start}{/if}"/><br/><br/>
<label for="length">$length Пример: 3</label><br/>
<input type="text" name="length" id="length" value="{if isset($length)&& $length}{$length}{/if}"/><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
