<form id="execute" action="{$function}.html" method="post">
<label for="haystack">$haystack Пример: This is a test</label><br/>
<textarea rows="10" cols="50" name="haystack" id="haystack">{if isset($haystack)&& $haystack}{$haystack}{/if}</textarea><br/><br/>
<label for="needle">$needle Пример: is</label><br/>
<input type="text" name="needle" id="needle" value="{if isset($needle)&& $needle}{$needle}{/if}"/><br/><br/>
<label for="offset">$offset</label><br/>
<input type="text" name="offset" id="offset" value="{if isset($offset)&& $offset}{$offset}{/if}"/><br/><br/>
<label for="length">$length</label><br/>
<input type="text" name="length" id="length" value="{if isset($length)&& $length}{$length}{/if}"/><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
