<form id="execute" action="{$function}.html" method="post">
<label for="string">$string Пример: &nbsp;&#09;&nbsp;Some words :)&nbsp;&nbsp;</label><br/>
<textarea rows="10" cols="50" name="string" id="string">{if isset($string)&& $string}{$string}{/if}</textarea><br/><br/>
<label for="charlist">$charlist Пример: </label><br/>
<input type="text" name="charlist" id="charlist" value="{if isset($charlist)&& $charlist}{$charlist}{/if}"/><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
