<form id="execute" action="{$function}.html" method="post">
<label for="prefix">$prefix Пример: Hello</label>
<br/>
<input type="text" value="{if isset($prefix)&& $prefix}{$prefix}{/if}" id="prefix" name="prefix"><br>
<br/>
  <label for="more_entropy">$more_entropy </label><br>
<input type="checkbox" id="more_entropy" name="more_entropy" value="true" class="check"{if $more_entropy}checked{/if}><br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
