<form id="execute" action="{$function}.html" method="post">
<label for="timestamp">$timestamp Пример: 345656</label><br>
<input type="text" value="{if isset($timestamp)&& $timestamp}{$timestamp}{/if}" id="timestamp" name="timestamp"><br>
<br>
<input type="submit" value="выполнить" id="run" class="button" name="submit">
</form>
