<form id="execute" action="{$function}.html" method="post">
<label for="string">$string Пример: http%3A%2F%2Fua.php.net%2Fmanual%2Fen%2Ffunction.urlencode.php </label><br/>
<textarea rows="10" cols="50" name="string" id="string">{if isset($string)&& $string}{$string}{/if}</textarea><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
