<form id="execute" action="{$function}.html" method="post">
<label for="format">$format Пример: %04d-%02d-%02d</label><br/>
<input type="text" name="format" id="format" value="{if isset($format)&& $format}{$format}{/if}"/><br/><br/>
<label for="args">$args Пример: (1998,8,1)</label><br/>
<textarea rows="10" cols="50" name="args" id="args">{if isset($args)&& $args}{$args}{/if}</textarea><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
