<form id="execute" action="{$function}.html" method="post">
<label for="string">$string Пример: The quick brown fox jumped over the lazy dog.</label><br/>
<textarea rows="10" cols="50" name="string" id="string">{if isset($string)&& $string}{$string}{/if}</textarea><br/><br/>
<label for="width">$width Пример: 20</label><br/>
<input type="text" name="width" id="width" value="{if isset($width)&& $width}{$width}{/if}"/><br/><br/>
<label for="break">$break Пример: &lt;br&nbsp;/&gt;</label><br/>
<input type="text" name="break" id="break" value="{if isset($break)&& $break}{$break}{/if}"/><br/><br/>
<label for="cut">$cut</label><br/>
<input type="checkbox" class="check" value="true" name="cut" id="cut"{if $cut}checked{/if}/><br/><br/>
<input type="submit" value="выполнить" id="run" class="button" name="submit"/>
</form>
