{extends file="$tpl_dir/zalud/base.tpl"}

{block name=mainbody}
    <!-- Breadcrumbs-->
    <ol class="breadcrumb pb-20">
        <li class="breadcrumb-item">
            <a href="/./">Übersicht</a>
        </li>
        <li class="breadcrumb-item active">Übersicht aller Geräte</li>
    </ol>
    <div> {trans}Device Overview {/trans}</div>

    <table style="width: 100%;" border="2">
        <tbody>
        <th>Id</th>
        <th>Nmber raspberry</th>
        {foreach from=$array_devices item=foo}
        <tr>
            <td>{$foo.id}</td>
            <td><a href="/device/view_one_devices?device_id={$foo.id}">{$foo.modename}</a></td>
        </tr>
        {/foreach}
        </tbody>
    </table>


{/block}


