{include file="$tpl_dir/header.tpl"}
<div class="b-body-bg">
<div class="b-body">
<div class="b-left">	
<div class="l-menu-right">
</div>
</div>
<div class="b-content">
<div class="refsect1 description">
<div align="right"><a href="/admin/logout.html">{$user}  Выход</a></div>
<br/>
Привет в админке!!!
<br/>
<br/>
<table rules="all" align="center" width="200" border="1" bordercolor="#000000">
	<caption>Таблица граф администрирования.</caption>
	<tr><th  width="50%">Разделы</th><th>Статус</th></tr>
		<tr align="center"><td ><a href="/admin/news/index.html">News</a></td><td>Активный</td></tr>
		<tr align="center"><td ><a href="/admin/static/index.html">Static</a></td><td>Активный</td></tr>
</table>
<br/>
</div>
</div>
</div>
</div>
</div>
</div>
{include file="$tpl_dir/footer.tpl"}