{extends file="$tpl_dir/zalud/base.tpl"}

{block name=mainbody}
<!-- Breadcrumbs-->
<ol class="breadcrumb pb-20">
    <li class="breadcrumb-item">
        <a href="/./">Übersicht</a>
    </li>
    <li class="breadcrumb-item active">Übersicht aller Geräte</li>
</ol>
    <a href="/user/registration">{trans} Registration new admin, user and plumber{/trans}</a>
    <br/>
    <a href="/device/view_all_devices">{trans} Device Overview {/trans}</a>










<!-- Icon Cards-->
<div class="row ml-1">
    {*{% for device in devices %}*}
    {*<div class="col-xl-4 col-sm-5 mb-3">*}
        {*<div class="card bg-success o-hidden h-100">*}
            {*<a href="{{ device.get_absolute_url }}">*}
                {*<div class="card-body text-dark">*}
                    {*<div>*}
                        {*<h5>*}
                            {*<b>{{ device.name }}</b>*}
                        {*</h5>*}
                        {*<h5>*}
                            {*{{ device.serial_number }}*}
                        {*</h5>*}
                    {*</div>*}
                {*</div>*}
            {*</a>*}
            {*<a class="card-footer clearfix small z-1" href="{{ device.get_absolute_url }}">*}
                {*<span class="float-left pt-4 secondary-clr">Last seen 6 hours ago</span>*}
                {*<span class="float-right">*}
                            {*<i class="fa fa-angle-right fa-4x clr-black"></i>*}
                        {*</span>*}
            {*</a>*}
        {*</div>*}
    {*</div>*}
    {*{% endfor %}*}
</div>
{/block}


