<br/>
<form method="post" accept-charset="utf-8"><br/> <label for="username">Username:</label> <br/> <input id="username"
                                                                                                      type="text"
                                                                                                      name="username"/>
    <br/> <br/> <br/> <label for="email">Email:</label> <br/> <input id="email" type="text" name="email"/> <br/> <br/>
    <br/> <label for="password">Password:</label> <br/> <input id="password" type="password" name="password"/> <br/>
    <br/> <br/> <label for="password_confirm">Repeat Password:</label> <br/> <input id="password_confirm"
                                                                                    type="password"
                                                                                    name="password_confirm"/> <br/>
    <br/> <br/>
    <button type="submit">Register</button>
    <br/></form> <br/>