{include file="$tpl_dir/header.tpl"}
<div class="b-body-bg">
<div class="b-body">
<div class="b-left">	
<div class="l-menu-right">
<ul>
<li><a href="index.html">Главная</a></li>
</ul>
</div>
</div>
<div class="b-content">
<form action="create.html" method="post">
<br/>
<label	for="status" title="Имя этой страница вставляеться в ссылку категории сheat_shect">Первичная</label>
<input type="checkbox" id="status" name="status" value="true" class="check"{if $status}checked{/if}>
<br/>
<label	for="name">Имя файла</label>
<br/>
<input type="text" value="name" id="name" name="name">
<br/>
<label	for="title">Заглавие</label>
<br/>
<input type="text" value="title" id="title" name="title">
<br/>
<label	for="content">Содержание</label>
<br/>
<textarea id="editor1" name="editor1"></textarea>
<br/>
</form>
<script type="text/javascript">
	CKEDITOR.replace( 'editor1' );
</script>
</div>
</div>
</div>
</div>
</div>
{include file="$tpl_dir/footer.tpl"}