<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>PHP программирование - тестирование функций онлайн. php строки, php функции, php справочник - все это php сайт</title>
    <link rel="stylesheet" media="screen" href="/css/common.css" type="text/css"/>
    {*<meta http-equiv="refresh" content="0;url=" />*}
</head>
<body>
Стартовая страница для отображения!
Список функций для работы с статистическими данными:
<lu>
    <li><a href="/view_decode_by_one_mac">1.Просмотр таблицы с полями: Номер, Дата и время, Целевая температура, Текущее состояние температуры, Состояние плунжера</a></li>
    <li><a href="/view_decode_report_full_by_one_mac">2.Просмотр таблицы с полями: Номер, Дата и время, Целевая температура, Текущее состояние температуры, Состояние плунжера, Сатутус батарии, Какая та температура, Статус изменнения температуры, Негативная температура <br>(negative_temperature), Локальное время(local_time),
        UTC время(UTC_time),
        Текущее состояние температуры(begin_summer_DstStart),
        Состояние плунжера(finish_summer_DstStart),
        Состояние плунжера(timezone),
        Репорт, </a></li>
    <li><a href="/list_mac_adress">Список мак адресов.</a></li>
    <li></li>
</lu>


</body>
</html>
