{extends file="$tpl_dir/zalud_new_design/base_3.tpl"}

{block name=mainbody}

    <table align="left">
        <tr width="100%">
            <td width="700px"><h3><font size="5" face= "DejaVu Serif">Regler <output name="result"></output></font></h3></td>
            <td width="650px"><h3><font size="5" face= "DejaVu Serif">Aktuelle Werte</font></h3></td>
            <td width="50px"></td>
            <td width="250px"><a href="/user/addition_service"><h3><font size="5" face= "DejaVu Serif"> Zurück</font></h3></a></td>
        </tr>
        <tr>
            <td width="700px"></td>
            <td width="650px"></td>
            <td width="250px"></td>
            <td>            </td>

        </tr>
    </table>


    <br/><form method="post" action="actueleverte" accept-charset="utf-8"> <br/>

    <p>Select the device for show tables <select size="1" name="device_id">
            <option disabled>Select a device</option>
            {foreach from=$array_devices_all item=foo}
                {if $device_id==$foo.id}
                    <option  selected="selected" value={$foo.id}>{$foo.modename}</option>
                {else}
                    <option value={$foo.id}>{$foo.modename}</option>
                {/if}

            {/foreach}
        </select>

    </p>

    <p><input type="checkbox" name="all_info" value="true" /> Showe all</p><br>

    <button type="submit" > Show table</button>
</form>



    <table align="left" width="100%" >
        <tr></tr>
        <tr >
            <td width="60%">

                <form method="post" action="actueleverte" accept-charset="utf-8">
                    <button type="submit" > Save </button>

                    <input type="hidden" value="true" name="DB_write" />
                    <input type="hidden" value="{$device_id}" name="device_id" />
                    <input type="hidden" value="{$user_id}" name="user_id" />

                <table id="parameters" border="1" cellspacing="2" width="100%" >
                    <tbody>
                    <tr>
                        <th >Port</th>
                        <th width="200px" >Beschreibung / editierbar</th>
                        <th width="70px" >Wert</th>
                        <th width="100px" >Dimension</th>
                        <th width="70px" >Par.-Nr.</th>


                    </tr>

                    {$i=0}
                    {if isset($array_show_params)}

                        {foreach from=$array_show_params item=foo}
                            <tr {$i++}>
                                <th width="70px" > {$foo.name}</th>
                                <th width="200px"><input type="hidden" name="type_of_extension_module_id_{$i}" value="{$foo.type_of_extension_module_id}"><input type="text" name="synonym_{$i}" style="width:100%;"  value="{$foo.synonym}"></th>
                                <th width="70px" ><input type="text"   name="value_{$i}" size="1" value="{$foo.value}"></th>
                                <th width="100px" ><input type="text" size="6"></th>
                                <th width="70px" ><input type="text" size="1"></th>

                            </tr>

                        {/foreach}
                    {/if}


                    </tbody>
                </table>
                    <input type="hidden" name="count_colume" value="{$i}" />
                </form>
            </td>

            <td style=" align-self: right;" width="40%">
                <p style="text-align: right" >
                    <a  href="/Serega_template_1/images/typ.PNG" download>
                        <button align="center" style="text-align: left; font-size: 25px" >Picture load</button>
                    </a>

                </p>
                <img class="logoMain" src="/Serega_template_1/images/typ.PNG" align="right">
            </td>
            <tr style="height: auto"></tr>

    </table>

    <div>
        <p style="text-align: left"> <button formaction="!ССЫЛКУ СЮДА!" style="text-align: center; font-size: 25px">Detail Werte Seite 10</button></p>

    </div>

{/block}