{extends file="$tpl_dir/zalud_new_design/base_2.tpl"}

{block name=mainbody}
    {*{debug}*}
    <p>View one user</p>

    <form method="post" action="/device/print_table_with_data">
        {if isset($array_show_params)}
            {foreach from=$array_show_params key=current_key item=foo}
                <label for="email small_text">'{$current_key}' </label><input type="text" name="username" id="id_email" required="" {*placeholder="{$current_key}"*} value="{$foo}" class="form-control" maxlength="200"><br/>
                <br/>
            {/foreach}
        {/if}
        <button type="submit">Save</button>
    </form>










{/block}