{extends file="$tpl_dir/zalud_new_design/base_2.tpl"}

{block name=mainbody}
    {*{debug}*}
    <p>View one user</p>

    <form method="post" action="/addition_service/do_changed_parameter_for_user">
        <input type="hidden" value="{$current_user_id}" name="user_id">
        {if isset($array_show_params)}
            {foreach from=$array_show_params key=current_key item=foo}
                <label for="email small_text">{$current_key} </label><input type="text" name="{$current_key}" id="id_email" value="{$foo}" class="form-control" maxlength="500" style="
                    width: 70%;"><br/>
                <br/>
            {/foreach}
            <p>For confirm change for user write your admin password</p>
            <label for="email small_text">admin password </label><input type="password" name="admin_password" id="id_email" value="" class="form-control" maxlength="500" style="width: 350px;"><br/>
            <br/>
        {/if}
        <button type="submit">Save</button>
    </form>
{/block}