{extends file="$tpl_dir/zalud_new_design/base_3.tpl"}

{block name=mainbody}
    <div class="ui-field-contain" xmlns="http://www.w3.org/1999/html">
             <table align="left">
            <tr width="100%">
                <td width="700px"><a href="/user/index"><h3><font size="5" face= "DejaVu Serif">  <output name="result"></output>1708000000001</font></h3></a></td>
                <td width="900px"><h3><font size="5" face= "DejaVu Serif">{trans}Performance Data{/trans}</font></h3></td>
                <td width="250px"><h3><font size="5" face= "DejaVu Serif"><a href="/user/addition_service">{trans}Back{/trans}</a></font></h3></td>
            </tr>
        </table>
    </div>

    <div class="content1">
        <table class="tabl8" align="left" width="100%" height="80px" style="border-spacing: 12px">

            <tr>
                <td width="30px"></td>
                <td width="200px" height="200px"> <a href="/addition_service/view_device"><img class="logoMain" src="/Serega_template_1/images/Übersicht Graphik.PNG" align="left"></a></td>
                <td width="200px" height="200px"> <a href="#"><img class="logoMain" src="/Serega_template_1/images/Solar Ertrag.PNG" align="left"></a></td>
                <td width="200px" height="200px"> <a href="/addition_service/hainkreize"><img class="logoMain" src="/Serega_template_1/images/Heizkreise.PNG" align="left"></a></td>
                <td width="200px" height="200px"> <a href="#"><img class="logoMain" src="/Serega_template_1/images/Heizkreise.PNG" align="left"></a></td>
                <td width="200px" height="200px"> <a href="#"><img class="logoMain" src="/Serega_template_1/images/Heizkreise.PNG" align="left"></td>
                <td width="200px" height="200px"> <a href="#"><img class="logoMain" src="/Serega_template_1/images/Holz- Kachelofen.PNG" align="left"></a></td>
                <td width="10px"></td>
            </tr>

            <tr>
                <td width="30px"></td>
                <td><p align="center"><a href="/addition_service/view_device">{trans}Graphic Overview{/trans}</a></p></td>
                <td><p align="center" ><a href="#">{trans}Solar Panels{/trans}</a></p></td>
                <td><p align="center" ><a href="/addition_service/hainkreize">{trans}Heating Circuits{/trans}</a></p></td>
                <td><p align="center" ><a href="#">{trans}Consumer{/trans} X</a></p></td>
                <td><p align="center" ><a href="#">{trans}Consumer{/trans} Y</a></p></td>
                <td><p align="center" ><a href="#">{trans}Wood Tiled Stove{/trans}</a></p></td>
                <td width="10px"></td>

            </tr>



        </table>

    </div>
    <table> <tr height="50px"></tr></table>

    <div class="content2">
        <table class="tabl9" align="left" width="100%" height="80px" style="border-spacing: 12px">
            <tr>
                <td width="30px"></td>
                <td width="200px" height="200px">  <a href="#"><img class="logoMain" src="/Serega_template_1/images/Brenner.PNG" align="left"></a></td>
                <td width="200px" height="200px">  <a href="#"><img class="logoMain" src="/Serega_template_1/images/Brenner.PNG" align="left"></a></td>
                <td width="200px" height="200px">  <a href="#"><img class="logoMain" src="/Serega_template_1/images/reserve.PNG" align="left"></a></td>
                <td width="200px" height="200px">  <a href="#"><img class="logoMain" src="/Serega_template_1/images/reserve.PNG" align="left"></a></td>
                <td width="200px" height="200px">  <a href="#"><img class="logoMain" src="/Serega_template_1/images/reserve.PNG" align="left"></a></td>
                <td width="200px" height="200px">  <a href="#"><img class="logoMain" src="/Serega_template_1/images/reserve.PNG" align="left"></a></td>
                <td width="10px"></td>
            </tr>
            <tr></tr>
            <tr>
                <td width="30px"></td>
                <td><p align="center" ><a href="#">{trans}Burner{/trans} 1</a></p></td>
                <td><p align="center" ><a href="#">{trans}Burner{/trans} 2</a></p></td>
                <td><p align="center" ><a href="#">{trans}Reserved{/trans}</a></p></td>
                <td><p align="center" ><a href="#">{trans}Reserved{/trans}</a></p></td>
                <td><p align="center" ><a href="#">{trans}Reserved{/trans}</a></p></td>
                <td><p align="center" ><a href="#">{trans}Reserved{/trans}</a></p></td>
                <td width="10px"></td>

            </tr>
        </table>
    </div>

{/block}